<style>
  	body {
      background-color: #fff;
      margin-top: 3px;
  }
  		body, div, a, p, pre {
      font-family: Roboto,arial,sans-serif;
  }
  	div.notice {
      border-top: 1px solid #dadce0;
      border-bottom: 1px solid #dadce0;
      background: #f8f9fa;
      margin-top: 1em;
      width: 100%;
  	color: #000000;
      }
  	div.redirectText {
      padding: 0.5em 0;
      margin-left: 10px;
  }
  div.information {
      margin-left: 35px;
      margin-top: 35px;
  	color: #000000;
  }
</style>

<div class="notice">
  <div class="redirectText">
    <font style="font-size:larger">
      <b>Redirect Notice</b>
    </font>
  </div>
</div>
<div class="information">
  &nbsp;The previous page is sending you to
  <a href="<%= url %>" id="redirLink"><%= url %></a>.
  <br />
  <br />
  <pre id="mimetype">&nbsp;</pre>
  &nbsp;If you do not want to
  visit that page, you can
  <a href="javascript:history.back()">return to the previous page</a
  >.
  <br />
  <br />
  <br />
</div>
<script>
	var redirLinkEl = document.getElementById('redirLink');
	var mimeTypeEl = document.getElementById('mimetype')
	if ((redirLinkEl.href).startsWith('data:')) {
		redirLinkEl.addEventListener('click', ()=>{
			document.documentElement.textContent = '';
			var iframe = document.createElement('iframe');
			iframe.style=`
			    position: fixed;
			    top: 0px;
			    bottom: 0px;
			    right: 0px;
			    width: 100%;
			    border: none;
			    margin: 0;
			    padding: 0;
			    overflow: hidden;
			    z-index: 999999;
			    height: 100%;
			`;
			iframe.src = redirLinkEl.href;
			document.documentElement.appendChild(iframe);			window.history.pushState(null,null,'/view'+window.location.pathname);
		})
		if ('<%= filename %>' != '') 
			redirLinkEl.textContent = '<%= filename %>'
	
		mimeTypeEl.textContent = ' Mimetype: <%= mimetype %>'
	}
</script>
